<footer class="footer mt-5">
  <div class="container">
    <div class="row">

      <!-- Clinic Info -->
      <div class="col-lg-4 col-md-6 mb-4">
        <h4 class="footer-title">PhysioCare Clinic</h4>
        <p>
          Helping You Move Better, Live Better.
        </p>

        <div class="social-icons">
          <a href="#" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
          </a>

          
          <a href="https://www.instagram.com/pavithra._1" target="_blank">
            <i class="bi bi-instagram"></i>
        </a>

          <a href="https://wa.me/919150520609" target="_blank">
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-2 col-md-6 mb-4">
        <h5>Quick Links</h5>
        <ul class="footer-links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>

      <!-- Services -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Services</h5>
        <ul class="footer-links">
          <li>Back Pain Treatment</li>
          <li>Neck Pain Treatment</li>
          <li>Sports Rehabilitation</li>
          <li>Post Surgery Rehab</li>
          <li>Home Visit Physiotherapy</li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Contact Us</h5>

        <p>
          <i class="bi bi-telephone-fill"></i>
          +91 91505 20609
        </p>

        <p>
          <i class="bi bi-envelope-fill"></i>
          info@physiocare.com
        </p>

        <p>
          <i class="bi bi-geo-alt-fill"></i>
          Chennai, Tamil Nadu
        </p>
      </div>

    </div>

    <hr>

    <div class="text-center copyright">
      © 2026 PhysioCare Clinic. All Rights Reserved.
    </div>
  </div>
</footer>